In [1]:
# import dependencies
import pandas as pd

In [24]:
# load in .csv files as data frames for cleaning and joining
ps4_sales_df = pd.read_csv("data_files/ps4_sales.csv")
ps4_prices_df = pd.read_csv("data_files/ps4_prices.csv", encoding='cp1252')
xbo_sales_df = pd.read_csv("data_files/xboxone_sales.csv")
xbo_prices_df = pd.read_csv("data_files/xboxone_prices.csv", encoding='cp1252')
ps4_sales_df.head()

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,Global_Sales,Year
0,21,Grand Theft Auto V,Action,M,PS4,Rockstar Games,Rockstar North,9.7,19.39,2014.0
1,35,Call of Duty: Black Ops 3,Shooter,M,PS4,Activision,Treyarch,NaN,15.09,2015.0
2,46,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,13.94,2018.0
3,51,Call of Duty: WWII,Shooter,M,PS4,Activision,Sledgehammer Games,8.0,13.40,2017.0
4,69,FIFA 18,Sports,E,PS4,EA Sports,EA Vancouver,8.3,11.80,2017.0

In [25]:
# joining data frame into one
for name in ps4_sales_df["Name"].values:
    try:
        if name in xbo_sales_df["Name"].values:
            ps4_sales_df.loc[ps4_sales_df["Name"] == name, "Global_Sales"] = ps4_sales_df.loc[ps4_sales_df["Name"] == name, "Global_Sales"].values + xbo_sales_df.loc[xbo_sales_df["Name"] == name, "Global_Sales"].values
    except (KeyError, IndexError, ValueError):
        break

In [26]:
# dropping rows containing NaN or 0 under Global Sales column
ps4_sales_df.dropna(subset=["Global_Sales"], inplace=True)
ps4_sales_df = ps4_sales_df[ps4_sales_df.Global_Sales != 0]
ps4_sales_df

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,Global_Sales,Year
0,21,Grand Theft Auto V,Action,M,PS4,Rockstar Games,Rockstar North,9.7,28.11,2014.0
1,35,Call of Duty: Black Ops 3,Shooter,M,PS4,Activision,Treyarch,NaN,22.46,2015.0
2,46,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,19.71,2018.0
3,51,Call of Duty: WWII,Shooter,M,PS4,Activision,Sledgehammer Games,8.0,19.63,2017.0
4,69,FIFA 18,Sports,E,PS4,EA Sports,EA Vancouver,8.3,14.94,2017.0
...,...,...,...,...,...,...,...,...,...,...
935,19794,Saiaku Naru Saiyaku Ningen ni Sasagu,Visual Novel,NaN,PS4,Kemco,Kemco,NaN,0.01,2018.0
936,19814,Mega Man X Legacy Collection 2,Platform,NaN,PS4,Capcom,Capcom,NaN,0.01,2018.0
937,19825,Happy Manager: Shiawase Zhuang no Kanrinin San,Simulation,NaN,PS4,D3 Publisher,D3 Publisher,NaN,0.01,2018.0
938,19841,RPG Maker MV,Misc,E10,PS4,NIS America,Kadokawa Games,NaN,0.01,2019.0
939,19846,Super Meat Boy,Platform,NaN,PS4,Team Meat,Team Meat,NaN,0.01,2016.0

In [221]:
# joining data frame into one
for name in ps4_prices_df["Title"].values:
    if name in xbo_prices_df["Title"].values:
        ps4_prices_df.loc[ps4_prices_df["Title"] == name, "New Price"] = ps4_prices_df.loc[ps4_prices_df["Title"] == name, "New Price"].values + xbo_prices_df.loc[xbo_prices_df["Title"] == name, "New Price"].values / 2

ps4_prices_df.head()

                               Title  New Price
0                           Godzilla    308.870
1  Playstation 4 500GB Black Console    305.000
2                 Grand Theft Auto V     30.835
3              Red Dead Redemption 2     41.475
4                       Poop Slinger   2000.320

In [222]:
# extracting prices from the prices data frame
prices = []
for name in ps4_sales_df["Name"].values:
    if name in ps4_prices_df["Title"].values:
        prices.append(ps4_prices_df.loc[ps4_prices_df["Title"] == name, "New Price"].values[0])
    else:
        prices.append(0)

In [226]:
# saving prices to corresponding titles
ps4_sales_df["New Average Prices"] = prices
# saving rows with prices greater than 0 to another data frame
cleaned_df = ps4_sales_df[ps4_sales_df["New Average Prices"] > 0]
cleaned_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,Global_Sales,Year,New Average Prices
0,21,Grand Theft Auto V,Action,M,PS4,Rockstar Games,Rockstar North,9.7,28.11,2014.0,30.835
2,46,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,19.71,2018.0,41.475
4,69,FIFA 18,Sports,E,PS4,EA Sports,EA Vancouver,8.3,14.94,2017.0,8.230
5,77,FIFA 17,Sports,E,PS4,Electronic Arts,EA Canada,8.9,14.65,2016.0,7.645
8,101,FIFA 19,Sports,E,PS4,Electronic Arts,EA Sports,NaN,11.37,2018.0,12.050
...,...,...,...,...,...,...,...,...,...,...,...
925,19567,Just Deal With It,Party,NaN,PS4,Wired Productions,Wired Productions,NaN,0.01,2018.0,11.930
929,19721,Hyper Light Drifter,Role-Playing,NaN,PS4,Rebellion Games,Rebellion Games,NaN,0.01,2016.0,65.110
931,19726,Teslagrad,Platform,NaN,PS4,Rain Games,Rain Games,NaN,0.01,2014.0,19.530
936,19814,Mega Man X Legacy Collection 2,Platform,NaN,PS4,Capcom,Capcom,NaN,0.01,2018.0,37.990
938,19841,RPG Maker MV,Misc,E10,PS4,NIS America,Kadokawa Games,NaN,0.01,2019.0,35.880

In [228]:
# saving cleaned dataframe to csv for importing
cleaned_df.to_csv("data_files/final_data.csv", index=None)